<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FastBnB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Properties
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/property/all">All</a></li>
            <li><a class="dropdown-item" href="#">Apartments</a></li>
            <li><a class="dropdown-item" href="#">House</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tends</a></li>
          </ul>
        </li>
     
      </ul>
      <div class="d-flex" role="search">
        {{#unless currentUser}}
        <a href="/auth/signup">
        <button class="btn btn-outline-primary" >Signup</button>
        </a>
        <a href="/auth/login">
        <button class="btn btn-outline-primary" >Login</button>
        </a>
        {{/unless}}
        {{#if currentUser}}
          <a href="/auth/logout">
            <button class="btn btn-outline-primary" >Logout</button>
          </a>
          {{#with currentUser}}
            <strong style="color: white">{{name}} - {{lastName}}</strong>
            <img src="{{profilePic}}" class="profilePic"/>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>